
.nav_wrap{
    border-bottom: 3px solid black;
    background-color: #86bcff;
    /*box-sizing: border-box;*/
}
.nav{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    /*background-color: rgba(255, 255, 255, 0.99);*/
    display: flex;
    /*justify-content: center;*/
    /*justify-content: space-evenly;*/


}
.nav .logo span{
    font-size: 50px;
    font-weight: 800;
    line-height: 110px;
    /*100으로 해야 텍스트 가운데 인데 폰트떔에 좀 내린거*/

    /*background-color: #fff;*/
}
.nav .logo {
    font-size: 30px;
    font-weight: 400;
    line-height: 110px;
    /*100으로 해야 텍스트 가운데 인데 폰트떔에 좀 내린거*/
    margin-left: 40px;
    /*background-color: #fff;*/
}
.nav ul{

    /*background-color: #e02626;*/

}
.manu_box{
    /*background-color: #83e854;*/
    justify-content: center;


    
}

.nav ul il{
    font-size: 35px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 50px;

    line-height: 70px;
    background-color: #d58282;
/**/

}






@media (max-width: 1300px){   /*0 부터 1220까지 (노트북) */
    /*1200으로 딱맞추면 중간에 살짝 스크롤이 생김*/

}
@media (max-width: 768px){   /*0 부터 768까지  (테블릿) */

}
@media (max-width: 480px){   /*0 부터 480까지  (모바일) */

}