.App {
  margin: 0 ;
  padding: 0;
  font-family: 'GmarketSans';
  /*폰트*/
}
* {
  /*margin: 0 ;*/
  /*padding: 0;*/
  font-family: 'GmarketSans';
  text-decoration: none;
}


/*//////////////////////////////////////////////////*/
body{
  background-color: #faf1f1;
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

#wrap{}

/*#change{*/
/*    width: 1200px;*/
/*    background-color: #011dfd;*/
/*    margin: 0 auto;*/
/*  }*/








/*미디어쿼리*/
@media (max-width: 1300px){   /*0 부터 1220까지 (노트북) */
  /*1200으로 딱맞추면 중간에 살짝 스크롤이 생김*/
  /*#change {*/
  /*  width: 96%;*/
  /*}*/
}
@media (max-width: 768px){   /*0 부터 768까지  (테블릿) */
  /*#wrap {*/
  /*  width: 100%;*/
  /*}*/
}
@media (max-width: 480px){   /*0 부터 480까지  (모바일) */
/*  #wrap{*/

/*}*/
}
